<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto News of the Day</title>
</head>
<body>
    <div><h1>Crypto News of the Day</h1></div>
    
            <p th:text="*{id}"></p>
            <p th:text="*{published_on}"></p>
            <p th:text="*{title}"></p>
            <p th:text="*{url}"></p>
            <p th:text="*{imageurl}"></p>
            <p th:text="*{body}"></p>
            <p th:text="*{tags}"></p>
            <p th:text="*{categories}"></p>
</body>
</html>